/* /* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
h2 {
  font-weight: bold;
  font-size: 40px;
  color: white;
}
p {
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
}
form {
  max-width: 600px;
  margin: 0;
  margin-bottom: 15px;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #999;
  display: flex;
  font-size: 17px;
}

input {
  width: 25%;
  padding: 10px;
  margin: 0 auto;

  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #999;
}

button {
  background-color: #808080;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 5px;
  font-size: 17px;
}
button:hover {
  background-color: white;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
  background-color: rgb(88, 96, 98);
 
}

.movie-card {
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.movie-card h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.movie-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.movie-card p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.movie-card button {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0s ease;
}

.movie-card button:hover {
  background-color: black;
}  */

